*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.hour, .past, .present, .future, .saveBtn{
  margin-bottom: 0;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  font-size: 1em;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: .7em;
  padding-left: 1.1em;
}

.past, .present, .future, .saveBtn{
  padding-top: .5em;
  color: white;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  padding-top: 0;
  outline: none;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  transition: .3s;
}

.saveBtn:hover {
  font-size: 20px;
  background-color: #2dd6fc;
}

.btn{
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
  transition: all .5s ease-in-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn:hover{
  background-position: 1px -50px;
}